ESC_setup
Makefile
README
README.dev
README.realESC
initial_data
logs
ncs-cdb
ncs.conf
nso-esc.pdf
state
vpn_orviken.xml
vpn_volvo.xml
.ipython
netsim

packages/ce0/test

packages/cisco-ios
packages/cisco-iosxr
packages/esc
packages/id-allocator
packages/ipaddress-allocator
packages/ipython-superuser
packages/juniper-junos
packages/l3vpnui
packages/pioneer
packages/resource-manager
packages/vm-manager
packages/vm-manager-esc
packages/weblog

**/__pycache__
